@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.profile-photo {
    width: 30%;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0d0e0f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 40px;
    animation: fadeInDown 1s ease-in-out;
}

header h1 {
    font-size: 2.8rem;
    color: #c06e1b;
}

header p {
    font-size: 1.2rem;
    color: #c06e1b;
    margin-top: 10px;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #c06e1b;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: #c06e1b;
}



ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 8px;
}

a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}

.contact-links li a {
    font-weight: bold;
}

footer {
    background-color: #c06e1b;
    text-align: center;
    font-size: 0.9rem;
    color: #131212;
    margin-top: 40px;
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1.2s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    .project {
        padding: 15px;
    }
}